.allposts-wrapper {
  padding: 40px;
  background: #000;
  min-height: 100vh;
  color: white;
}

.title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
  justify-items: center;
}

.post-card {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  overflow: hidden;
  background:white; 
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s ease;
}

.post-card:hover {
  transform: scale(1.04);
  border-color: white;
}

.post-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
    
}
.fallback-box {
  width: 100%;
  height: 100%;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18 px;
  opacity: 0.6;
}
