/* -----------------------------------

   MAIN WRAPPER

----------------------------------- */

.gallery-scroll-wrapper {

  display: flex;

  justify-content: center;

  background-color: black;

  padding: 20px 0;

}





/* -----------------------------------

   BASE GALLERY CONTAINER

----------------------------------- */

.gallery-container {

  width: 100%;

  max-width: 937px;

  height: 500px;

  position: relative;

  margin: 0 auto;

  aspect-ratio: 937 / 608;

  left: 80px;

}

.gallery-container::after {
  content: "";
  position: absolute;
  bottom: -10px;
  /* left: 100; */
  left: -90px;
  width: 100%;
  height: 120px;
  /* background:green; */
  background-color: black;
  /* border-radius: 50%; */
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;


  z-index: 10;
}
/* -----------------------------------

   BASE CARD ANIMATION

----------------------------------- */

.side-card {

  opacity: 0;

  transform: translateY(40px);

  transition: 2.5s ease;

}



.show {

  opacity: 1;

  transform: translateY(0);

}



.left-card {
  z-index: 2;
}

.right-card {
  z-index: 2;
}

.center-card {
  z-index: 5;
}





/* -----------------------------------

   DESKTOP POSITIONING (default)

----------------------------------- */

.left-card,

.center-card,

.right-card {

  position: absolute;

  border-radius: 12px;

  object-fit: cover;

}





/* LEFT IMAGE (desktop) */

.left-card {
  width: 240px;
  height: 356px;
  top: 85px;
  left: 60px;
  transform: rotate(-18deg) translateY(40px);

}

/* CENTER IMAGE (desktop) */

.center-card {
  width: 280px;

  height: 433px;

  top: 29px;

  left: 219px;

}



.center-card img {

  width: 100%;

  height: 100%;

  border-radius: 8px;

}





/* RIGHT IMAGE (desktop) */

.right-card {

  width: 240px;

  height: 346px;

  top: 95px;

  left: 430px;

  transform: rotate(18deg) translateY(40px);

}



.right-card.show {

  transform: rotate(18deg) translateY(0);

}
.left-card.show {

  transform: rotate(-18deg) translateY(0);

}
/* -----------------------------------
   MOBILE (up to 480px)
----------------------------------- */
@media (max-width: 600px) { 
.gallery-scroll-wrapper {
  padding: 10px 0;
  /* border:2px solid red; */
}
.gallery-container {
  width: 100%;
  max-width: 335px;
  height: 272px;
  position: relative;
  margin: 0 auto;
  left: 0px;
  overflow: hidden;
  margin: 4px;

}
.center-card {
  width: 150px;

  height: 230px;

  top: 6px;

  left: 26%;

}



.center-card img {

  width: 100%;

  height: 100%;

  border-radius: 8px;


}
.left-card {
  width: 102.31px;
  height: 210px;
  top: 35px;
  left:8.3%;
  transform: rotate(-18deg) translateY(40px);

}
.right-card {
 width: 109.31px;
  height: 210px;
  top: 37px;
  left:57%;
  transform: rotate(18deg) translateY(40px);

}
.gallery-container::after {
  content: "";
  position: absolute;
  bottom: -5px;
  /* left: 100; */
  left: 1px;
  width: 100%;
  height: 70px;
  /* background:green; */
  background-color: black;
  border-top: 50%;
  /* border-bottom-right-radius: 50%; */
  z-index: 10;
}
}
@media (min-width: 601px) and (max-width: 768px) {
  .gallery-scroll-wrapper {
  padding: 15px 0;
  /* border:1px solid red; */

}
.gallery-container {
  /* border:1px solid violet; */
  width: 100%;  
  max-width: 700px;
  height: 511px;
  /* padding:1px; */
  left:0px;
  margin: 0 auto;
  left: 0px;
  overflow: hidden;

}

.center-card {
  width: 300px;
  height: 433px;
  top: 29px;
  left: 25.5%;
}

.center-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;

}
.left-card {
  width: 240.31px;
  height: 340px;
  top: 60px;
  left:8%;
  transform: rotate(-18deg) translateY(40px);
}
.right-card {

  width: 240.31px;
  

  height: 340px;

  top: 60px;

  left: 52%;
}
.gallery-container::after {
  content: "";
  position: absolute;
  bottom: -5px;
  /* left: 100; */
  left: 0.3%;
  width: 100%;
  height: 120px;
  /* background:green; */
  background-color: black;
  /* border-radius: 50%; */
    border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  z-index: 10;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
  .gallery-scroll-wrapper {
  padding: 20px 0;
  /* border: 1px solid fuchsia; */

}
  .gallery-container {
  width: 100%;
  max-width: 1000px;
  height: 550px;
  left: 0px;
  /* border:1px solid gold; */
  margin: 0 auto;
  left: 0px;
  overflow: hidden;
}
.center-card {
  width: 300px;
  height: 433px;
  top: 30px;
  left: 33.5%;
}

.center-card img {
  width: 100%;
  height: 100%;
  border-radius: 8px;

} 
.left-card {
  width: 240.31px;
  height: 340px;
  top: 80px;
  left:16%;
  transform: rotate(-18deg) translateY(40px);
} 
.right-card {
  width: 240.31px;
  height: 340px;
  top: 80px;
  left: 57%;
}
.gallery-container::after {
  content: "";
  position: absolute;
  bottom: 35px;
  /* left: 100; */
  left: 0.3%;
  width: 100%;
  height: 120px;
  /* background:green; */
  background-color: black;
  /* border-radius: 50%; */
    border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;

  z-index: 10;
}
}

